<div class="employee-form margen-bajo ">
 
    <h1 class='text-center'>Modificar</h1>

<%= render 'form', employee: @employee %>

</div>
<div class="employee-form">
<%= link_to 'Home', homes_index_path, class:"btn btn-outline-light btn-primary text-center" %>
</div>
