<h1>Nuevo Trabajador</h1>
<p>de la compañia</p>
<%= current_user.company.name %>


<%= render 'form', employee: @employee %>

 <%= link_to 'Home', homes_index_path , class:"btn btn-outline-light btn-primary text-center" %>
