<div class="banner">
    <div class="contentt">
    <h1>    Bienvenido         </h1>
    <h2>         a              </h2>
    <h2>     EL DESCUEVE        </h2>
    <h2>________________________</h2><br><br>
    <%=link_to 'Conocenos', homes_about_path%>
   </div>
 </div>