<div class="jumbo">
    <div class="contentt">
    <h1>    Bienvenido         </h1>
    <h2>         a              </h2>
    <h2>     Eros tarot        </h2>
    <h2>________________________</h2><br><br>
    <%=link_to 'Home', homes_index_path%>
   </div>
 </div>