<div class="barra">
     <div class="contenedor-nav clearfix">
       <div class="logo">
           <%= image_tag("eldescueve.png", :alt => "idea")%>
       </div>
        <div class="menu-movil">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>

        </div>
        <nav class="navegacion-principal ">
            <table>   
             <tr>
                 <td><%= link_to 'Cotizaciones  ', quotations_index_path %></td>
                 <td><%= link_to 'Nueva empresa  ', new_company_path %></td>
                 <td  class="borderr nav-td"><%= link_to 'Desloguearse',destroy_user_session_path, method: :delete %></li>
             </tr>  
            </table>    
        </nav> 
      </div>
    </div>