<div class="banner">
    <div class="contentt">
    <h1>     TCGConsultore      </h1>
    <h2>Que nos hace diferentes</h2>
    
    <h2>________________________</h2><br><br>
    <%=link_to 'home', quotations_index_path%>
   </div>
 </div>
 <div class="container mt-5">
   
         <div class="row">
            <div class="col-6">
                <h2>Transformando el desarrollo de las empresas</h2><br>
                <p class='text-p text-justify'>Somos un grupo de profesionales que apoyamos el crecimiento de las pequeñas y medianas empresas</p>
                <p class='text-p text-justify'>desde el año 2018, a través de la innovación y soluciones tecnológicas para mejorar los procesos de las personas.</p>
                <p class='text-p text-justify'>A todos nos ha pasado, hay días en los que las cosas no suceden como lo esperamos y nuestra motivación comienza a desmoronarse.</p>           
                <p class='text-p text-justify'>Pero no te preocupes porque en TCGConsultores encontaras el apoyo que necesitas.Antes de conseguir el éxito, enfrentarás muchas derrotas. Es normal, no te desanimes.</p>
                <p class='text-p text-justify'>Somos el partner que te acompañara desde el inicio de tu idea hasta concretar tu proyecto.No dejes nada para después. ¡Empieza hoy!</p>
                <p class='text-p'>Confia en nosotros</p>
                <p class='text-p'>Atte</p>
                <p class='text-p'>Oscar Toro Diaz</p>
                <p class='text-p'> CEO & SCRUM MASTER</p><br>
            </div>
            <div class="col-6">
              <%= image_tag("idea.png", size: "700x880",:alt => "idea") %>
            </div>
        </div>
    </div>