<div class="banner">
    <div class="contentt">
    <h1>     TCGConsultores     </h1>
    <h2>Que nos hace diferentes</h2>
    
    <h2>________________________</h2><br><br>
    <%=link_to 'home', quotations_index_path%>
   </div>
 </div>
 
   
         <div class="row mt-5 margen">
            <div class="col-5">
                <h2 class="text-h">Transformando el desarrollo de las empresas</h2><br>
                <p class='text-p text-justify'>Somos un grupo de profesionales que apoyamos el crecimiento de las pequeñas y medianas empresas</p>
                <p class='text-p text-justify'>desde el año 2018, a través de la innovación y soluciones tecnológicas para mejorar los procesos de las personas.</p>
                <p class='text-p text-justify'>A todos nos ha pasado, hay días en los que las cosas no suceden como lo esperamos y nuestra motivación comienza a desmoronarse.</p>           
                <p class='text-p text-justify'>Pero no te preocupes porque en TCGConsultores encontaras el apoyo que necesitas.Antes de conseguir el éxito, enfrentarás muchas derrotas. Es normal, no te desanimes.</p>
                <p class='text-p text-justify'>Somos el partner que te acompañara desde el inicio de tu idea hasta concretar tu proyecto.No dejes nada para después. ¡Empieza hoy!</p>
                <p class='text-p'>Confia en nosotros</p>
                <p class='text-p'>Atte</p>
                <p class='text-p'>Oscar Toro Diaz</p>
                <p class='text-p'> CEO & SCRUM MASTER</p><br>
            </div>
             <div class="col-1">
              
            </div>
            <div class="col-6">
              <%= image_tag("idea.png", size: "600x550",:alt => "idea") %>
            </div>
        </div>
       <div class='container mt-5'>
        <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                     
                      <div class="card-body"> 
                        <h5 class="card-title text-center display-3">Vision</h5>
                        <p class="card-text displey-4">Ser uma empresa que es reconocida por la excelencia en soluciones estrategicas y efectivas para el exito empresarial de nuestros clientes.</p>
                      
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                      
                      <div class="card-body">
                        <h5 class="card-title text-center display-3">Mision</h5>
                        <p class="card-text displey-4">Construir relaciones permanentes, conocer las necesidades de nuestros clientes y aprovechar nuestra experiencia para generar soluciones eficaces.</p>
                        
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                    
                      <div class="card-body">
                        <h5 class="card-title text-center display-3">Valores</h5>
                        <p class="card-text displey-4">Creemos en la transparencia, la rectitud, el respeto por las personas y en el trabajo en equipo</p>
                       
                      </div>
                    </div>
                  </div>
                  </div>
 