<div class="banner">
    <div class="contentt">
    <h1 > Bienvenido a TCGConsultores services</h1>
    <a href="#">Ingresa aqui</a>
   </div>
 </div>




<%# <div id="imagen"> %>
 <%# <img src="<%= asset_path 'pronto.gif' %>

 <%# </div> %>


 <div class="footer">
  <p>©2020 TCG Consultores. Todos los derechos reservados</p>
   <img src="<%= asset_path 'footertcg.png' %>">

</div>

