


<%= video_tag "video1.mp4", :controls => true,  autoplay: true, :loop => true, class: 'videotag' %>
<div class='text-p5'>
<%= link_to 'Bienvenidos', quotations_index_path,class:"btn btn-outline-light btn-lg" %>
</div>
<p class='p1'>
  
  <span class='text-center'>
    EL DESCUEVE
  </span>
  </p>






