 <div class=" fondo_formulario">
        <%= render 'form', quotation: @quotation %>


        <%= link_to 'Desea enviar una nueva cotizacion', quotations_new_path %><br>
        
        <%= link_to 'Home', homes_index_path %>
  </div>