<div class="banner">
    <div class="contentt">
        <%= render 'form', quotation: @quotation %>
</div>
</div>
        <%= link_to 'Desea enviar una nueva cotizacion', quotations_new_path %><br>
        
        <%= link_to 'Home', quotations_index_path %>
  