 <div class=" fondo_formulario">
        <%= render 'form', quotation: @quotation %>
  <table class="pt-5">
     <tr>
       <td><%= link_to 'Nueva', quotations_new_path, class:"btn btn-outline-light btn-primary text-center" %></td>
        
        <td><%= link_to 'Home', homes_index_path, class:"btn btn-outline-light btn-primary text-center" %></td>
      </tr>
   </table>   
  </div>