<div class="banner">
    <div class="contentt">
    <h1>     EL DESCUEVE    </h1>
    <h2>Que nos hace diferentes</h2>
    
    <h2>________________________</h2><br><br>
    <%=link_to 'home', quotations_index_path%>
   </div>
 </div>

<div class="row mt-5 margen">
            <div class="col-12">
                <h2 class="text-h text-center"> Planes Outsourcing, consultoría tributaria y contable</h2><br>
            </div>
        </div>

          <div class='container mt-5'>
               <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                     
                      <div class="card-body"> 
                        <p class="card-title text-h2">Creación de sociedad</p>
                        <p class="card-text displey-4">Déjanos la creación de tú empresa en nuestras manos. Creamos sociedades, empresa en un día y a través de escrituras publicas (E.I.R.L., SPA, Ltda)..</p>
                      
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                      
                      <div class="card-body">
                        <p class="card-title text-h2">Regularizaciones</p>
                        <p class="card-text displey-4">Asesoramos en le gestión de periodos pendientes de declaración de impuestos, declaraciones de renta y previsionale</p>
                        
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                    
                      <div class="card-body">
                        <p class="card-title text-h2">Inicio de actividades</p>
                        <p class="card-text displey-4">Dejamos tu Pyme facturando con nuestra completa asesoría en todos los tramites.</p>
                       
                      </div>
                    </div>
                  </div>
            </div><br><br>
          <div class='container mt-5'>
               <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                     
                      <div class="card-body"> 
                        <p class="card-title text-h2">Servicios contables</p>
                        <p class="card-text displey-4">Llevamos el orden de tu contabilidad; además de ofrecer timbrare de documentos, Formulario 29, RR.HH., reportes contables para que no tengas preocupación alguna.</p>
                      
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                      
                      <div class="card-body">
                        <p class="card-title text-h2">Auditorias, gestión y control interno</p>
                        <p class="card-text displey-4">Te ayudamos a que toda tu información sea fidedigna y a resguardar tu patrimonio mediante nuestras auditoria forense y de contenidos.</p>
                        
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                    
                      <div class="card-body">
                        <p class="card-title text-h2">Balances y renta</p>
                        <p class="card-text displey-4">Realizamos asesorías tributarias, balances, declaraciones de rentas, declaraciones juradas, entre otros.</p>
                       
                      </div>
                    </div>
                  </div>
                  </div><br><br>   

      <div class="row mt-5 margen">
          <div class="col-12">
                <h2 class="text-h text-center"> Planes Tributario y contable según tu necesidad</h2><br>
          </div>
        </div>

          <div class='container mt-5'>
               <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                     
                      <div class="card-body"> 
                        <p class="card-title text-h2">Plan Básico</p>
                        <p class="card-text displey-4">- 15 documentos Tributarios</p>
                        <p class="card-text displey-4">- Formulario número 29 (SII)</p>
                        <p class="card-text displey-4">- Registros de Compras y Ventas</p>
                        <p class="card-text displey-4">- Balance Tributario</p>
                        <p class="card-text displey-4">- Declaración de Renta Anual</p>
                      </div>
                    </div>
                       <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                         <div class="card-body">
                              <p class="card-title text-h2">Plan Emprendedor</p>
                              <p class="card-text displey-4">- Hasta 4 Trabajadores </p>
                              <p class="card-text displey-4">- 30 Documentos Tributarios</p>
                              <p class="card-text displey-4">- Contratos del Personal</p>
                              <p class="card-text displey-4">- Remuneraciones e imposiciones</p>
                              <p class="card-text displey-4">- Formulario número 29 (SII)</p>
                              <p class="card-text displey-4">- Registros de Compras y Ventas</p>
                              <p class="card-text displey-4">- Balance Tributario</p>
                              <p class="card-text displey-4">- Declaración de Renta Anual</p>
                           </div>
                         </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                    
                      <div class="card-body">
                        <p class="card-title text-h2">Plan Pyme</p>
                        <p class="card-text displey-4">- Hasta 10 Trabajadores</p>
                        <p class="card-text displey-4">- 50 Documentos Tributarios</p>
                        <p class="card-text displey-4">- Contratos del Personal</p>
                        <p class="card-text displey-4">- Remuneraciones e imposiciones</p>
                        <p class="card-text displey-4">- Formulario número 29 (SII)</p>
                        <p class="card-text displey-4">- Registros de Compras y Ventas</p>
                        <p class="card-text displey-4">- Balance Tributario</p>
                        <p class="card-text displey-4">- Declaración de Renta Anual</p>
                       
                      </div>
                    </div>
                   <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                    
                      <div class="card-body">
                        <p class="card-title text-h2">Plan Business</p>
                        <p class="card-text displey-4">- Hasta 25 Trabajadores</p>
                        <p class="card-text displey-4">- 100 Documentos Tributarios</p>
                        <p class="card-text displey-4">- Contratos del Personal</p>
                        <p class="card-text displey-4">- Remuneraciones e imposiciones</p>
                        <p class="card-text displey-4">- Formulario número 29 (SII)</p>
                        <p class="card-text displey-4">- Registros de Compras y Ventas</p>
                        <p class="card-text displey-4">- Balance Tributario</p>
                        <p class="card-text displey-4">- Declaración de Renta Anual</p>
                        </div>
                    </div>
                   <div>
                  </div>
                 
                  