<div class="employee-form margen-bajo ">
 
    <h1 class='text-center'>Actualizar </h1>

<%= render 'form', company: @company %>

<div class="pb-5 pl-5">

<%= link_to 'Back', companies_path , class:"btn btn-outline-light btn-primary text-center" %>
</div>
</div>