
 
<div class="employee-form">
        <h1>Ingreso de empresa</h1>
    
<%= render 'form', company: @company %>


<div class="pb-5 pl-3">
 <%= link_to 'Home', homes_index_path , class:"btn btn-outline-light btn-primary text-center" %>
</div>
</div>

