// Place all the styles related to the quotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.imagen {

  width: 20px;
  height: 20px;
  
}

.footer {

  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00e6e6;
  color:white;
  padding-top: 1cm;
  text-align: center;
  
}

.banner{

    position: relative;
    width: 100%;
    height:100%;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: a11 .1s ease-in-out;
    background-image: image-url("conta1.jpeg");
    background-repeat: no-repeat;
    animation: banner 28s infinite linear;
}

.contentt {
 height: 625px;
 margin: 0;
 padding: 0;
 width: 100%;
 color: #FFF;
 background: rgba(64, 131, 185, 0.746);
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.contentt a{
    text-decoration: none;
    color: #FFF;
    padding: 9px 20px;
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: a11 .1s ease-in-out;
}

.contentt a:hover{
    background-color: #FFF;
    color: #333;
}

@keyframes banner{

    0%{
        background-image: image-url("conta1.jpeg");
        background-repeat: no-repeat;
    }

    25%{
        background-image: image-url("conta1.jpeg");
        background-repeat: no-repeat;
    }
    26% {
        background-image: image-url("conta2.jpeg");
        background-repeat: no-repeat;
    }
    50%{
        background-image: image-url("conta2.jpeg");
        background-repeat: no-repeat;
    }
    51%{
        background-image: image-url("conta3.jpeg");
        background-repeat: no-repeat;
    }
    75%{
        background-image: image-url("conta3.jpeg");
        background-repeat: no-repeat;
    }
    76%{
        background-image: image-url("conta4.jpeg");
        background-repeat: no-repeat;
    }
    100%{
        background-image: image-url("conta4.jpeg");
        background-repeat: no-repeat;
    }
}



.img-fluid {
    max-width: 100%;
    height: auto;
  }

  .nav-text {
    text-align: right;
    
    font-size: 23px;

  }

  .nav-text1 {

    font-size: 20px;

  }

  .fijo {
  
        position: fixed;
        top: 0;
        
  }

  .text-p {
    padding-left: 50px;
    font-size: 18px;

  }
  .text-h {
    padding-left: 50px;
    }


  .text-p1 {
    padding-top: 40px;
    padding-right: 60px;
    font-size: 23px;

  }
  .text-h {

    font-size: 30px;

  }

  .nav-color {

    background-color: #FFF ;
  }

  .garantia{

    height: 280px;
    background-color: rgb(65, 60, 71);
    background-size: cover;
    background-position: center;
        
}

.linea {
  border-top: 5pt solid white;
  width: 2%;
  height: 100%;
 

}

.wasap {
margin-top: 795px;
margin-right: 10px;
position: fixed;

}

.margen {

  margin-left: 300px;
  margin-right: 300px;

}

@keyframes banner2{

  0%{
      background-image: image-url("imagen1.jpeg");
      background-repeat: no-repeat;
  }

  25%{
      background-image: image-url("imagen1.jpeg");
      background-repeat: no-repeat;
  }
  26% {
      background-image: image-url("imagen2.jpeg");
      background-repeat: no-repeat;
  }
  50%{
      background-image: image-url("imagen2.jpeg");
      background-repeat: no-repeat;
  }
  51%{
      background-image: image-url("imagen3.jpeg");
      background-repeat: no-repeat;
  }
  75%{
      background-image: image-url("imagen3.jpeg");
      background-repeat: no-repeat;
  }
  76%{
      background-image: image-url("imagen4.jpeg");
      background-repeat: no-repeat;
  }
  100%{
      background-image: image-url("imagen4.jpeg");
      background-repeat: no-repeat;
  }
}


