// Place all the styles related to the quotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.imagen {

  width: 20px;
  height: 20px;
  
}

footer {
  
  background-color: #91bdbd;
    
}

.login {
    padding-top: 150px;
    padding-left: 700px;
    padding-bottom: 100px;
    background-color: #F5F5F5;
   
}

.banner{
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: a11 .1s ease-in-out;
    background-image: image-url("conta1.jpeg");
    background-repeat: no-repeat;
    animation: banner 28s infinite linear;
}

.contentt {
 height: 625px;
 margin: 0;
 padding: 0;
 width: 100%;
 color: #FFF;
 background: rgba(64, 131, 185, 0.5);
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.contentt a{
    text-decoration: none;
    color: #FFF;
    padding: 9px 20px;
    border: 1px solid #FFF;
    text-transform: uppercase;
    transition: a11 .1s ease-in-out;
}

.contentt a:hover{
    background-color: #FFF;
    color: #333;
}


@keyframes banner{

    0%{
        background-image: image-url("conta1.jpeg");
        background-repeat: no-repeat;
    }

    25%{
        background-image: image-url("conta1.jpeg");
        background-repeat: no-repeat;
    }
    26% {
        background-image: image-url("conta2.jpeg");
        background-repeat: no-repeat;
    }
    50%{
        background-image: image-url("conta2.jpeg");
        background-repeat: no-repeat;
    }
    51%{
        background-image: image-url("conta3.jpeg");
        background-repeat: no-repeat;
    }
    75%{
        background-image: image-url("conta3.jpeg");
        background-repeat: no-repeat;
    }
    76%{
        background-image: image-url("conta4.jpeg");
        background-repeat: no-repeat;
    }
    100%{
        background-image: image-url("conta4.jpeg");
        background-repeat: no-repeat;
    }
}


.formlogin {
    width: 270px;
    min-height: 220px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
.margenlogin {

    padding-top: 100px;
    padding-bottom: 15px;
}

.margenform {

    padding-left: 100px ;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-top: 100px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

  .nav-text {
    text-align: right;
    
    font-size: 23px;

  }

  .nav-text1 {

    font-size: 20px;

  }

  .fijo {
  
        position: fixed;
        top: 0;
        
  }

  .text-p {
    padding-left: 50px;
    font-size: 18px;

  }
  .text-h {
    padding-left: 50px;
    }


  .text-p1 {
    padding-top: 40px;
    padding-right: 60px;
    font-size: 23px;

  }
  .text-h {

    font-size: 30px;

  }
  .text-h2 {
    text-align: center;
    font-size: 22px;

  }
 

  .garantia{

    height: 280px;
    background-color: rgb(65, 60, 71);
    background-size: cover;
    background-position: center;
        
}

.linea {
  margin-top: 20px;
  background-color:white;
  width: 5px;
  height: 280px;
 }

.wasap {
margin-top: 795px;
margin-right: 10px;
position: fixed;

}

.margen {

  margin-left: 300px;
  margin-right: 300px;

}

.videotag{
     position: fixed;
     min-width: 100%;
     min-height: 100%;
     top: 50%;
     left: 50%;
     transform: translatex(-50%) translatey(-50%);
     z-index: -1;

}





.p1 {
    padding-top: 600px;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 75%;
	left: 50%;
	width: 40em;
    margin: 0 0 0 -20em;

    .flex{
     
        background-attachment: fixed;
        background-size: cover;
        background-image: url("paralax-min.jpg");
        background-repeat: no-repeat;
        
    }

    
  span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
      text-shadow: 0 0 80px rgba(255, 255, 255, 0.596);
      background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
}

.text-p5 {
    padding-top: 130px;
    text-align: center;
    font-size: 70px;
    color: white;
}



@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

*,
*:before,
*:after {
    box-sizing: border-box;
}

.tamaño{
    
    height: 430px;
    box-sizing: border-box;
}



@keyframes banner2{

  0%{
      background-image: image-url("imagen1.jpeg");
      background-repeat: no-repeat;
  }

  25%{
      background-image: image-url("imagen1.jpeg");
      background-repeat: no-repeat;
  }
  26% {
      background-image: image-url("imagen2.jpeg");
      background-repeat: no-repeat;
  }
  50%{
      background-image: image-url("imagen2.jpeg");
      background-repeat: no-repeat;
  }
  51%{
      background-image: image-url("imagen3.jpeg");
      background-repeat: no-repeat;
  }
  75%{
      background-image: image-url("imagen3.jpeg");
      background-repeat: no-repeat;
  }
  76%{
      background-image: image-url("imagen4.jpeg");
      background-repeat: no-repeat;
  }
  100%{
      background-image: image-url("imagen4.jpeg");
      background-repeat: no-repeat;
  }
}


